body * {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    word-wrap: break-word;
}

.content {
    margin-bottom: 45px;
}

.bg-orange {
    background-color: #F2853F;
}

.bg-purple {
    background-color: #41557F;
}

.bg-grey {
    background-color: #959696;
}

.main-banner h3 {
    font-size: 22px;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    color: #42567E;
}

h2, h3 {
    color: #42567E;
    font-weight: 300;
}

.navbar {
    background-color: #42567E;
    font-size: 20px;
    font-weight: 300;
    border: 0;
    padding: 0 40px;
}

.home .logo-container,
.Download .logo-container,
.Community .logo-container,
.Documentation .logo-container,
.Events .logo-container {
    display: none !important;
}

.logo-container {
    display: none;
}

@media (max-width: 768px) {

    .navbar {
        padding: 14px 40px;
    }

    
    .small-no-padding,
    .small-no-padding .col-md-6 {
        padding: 0;
    }

    .doc-section {
        margin-bottom: -10px !important;
    }

    .doc-section .outline-title {
        padding: 15px 10px;
        margin-bottom: 0; 
    }

    .doc-section:nth-of-type(odd) {
        background-color: #F2853F;
    }

    .doc-section:nth-of-type(even) {
        background-color: #E87738;
    }

    .doc-section:nth-of-type(odd) .outline-title,
    .doc-section:nth-of-type(even) .outline-title,
    .doc-section a {
        background: none;
        color: #fff !important;
    }

    .sidebar-top {
        padding: 40px 20px 20px !important;
    }

}

@media (max-width: 992px) {

    .sm-extra-padding {
        padding: 20px;
    }

    .sidebar-container {
        display: none;
    }

    .show-sidebar-container {
        display: block;
        margin: 30px auto 20px;
    }

    .logo-container {
        display: block;
        background-color: #F6F7F9;
        position: absolute;
        top: 0;
        left: 20px;
        padding: 20px;
        max-height: 100px;
        max-width: 100px;
    }

    .logo-container img {
        width: 100%;
    }

}

@media (min-width: 992px) {
    
    .main-banner img {
        width: 15%;
    }

    .documentation-viewer {
        padding: 1%;
    }

    .show-sidebar-container {
        display: none;
    }

    .documentation-viewer,
    .sidebar-container {
        display: block !important;
    }

}

.navbar-nav li {
    padding: 15px 20px;
}

.bs-sidebar a,
.navbar a {
    color: #fff !important;
}

.bs-sidebar a:hover,
.navbar a:hover {
    text-decoration: underline !important;
}

.bs-sidebar {
    width: 100% !important;
    border-radius: 0;
    font-size: 14px;
}

.bs-sidebar li {
    background-color: #818484;
    margin-bottom: 2px;
}

.documentation-viewer {
    font-size: 14px;
    color: #454041;
}

.documentation-viewer h2 {
    font-size: 28px;
    font-weight: 500;
}

.documentation-viewer h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0px;
}

body {
    padding-top: 80px;
}

.sidebar-top {
    background-color: #F6F7F9;
    padding: 20px;
}

.logo-small {
    display: block;
    margin: 10px auto 20px auto;
    max-width: 280px;
}

#search-input {
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
}

#rtd-search-form input,
#rtd-search-form button {
    border: 1px solid #BFBFBF;
}

#rtd-search-form input {
    border-right: 0;
    width: 80%;
    padding: 6px 10px;
    height: 44px;
    font-size: 16px;
}

#rtd-search-form button {
    background-color: #ffffff;
    border-left: 0;    
    color: #42567E;
    font-size: 20px;
    width: 15%;
    height: 44px;
    margin-left: -10px;
    position: relative;
    top: 2px;
    padding: 6px 10px;
}

.home .search-container {
    padding: 60px 30px;
    margin-bottom: 20px;
}

.home #rtd-search-form label {
    color: #ffffff;
    margin-bottom: 20px;
}

div.col-md-2 {
    padding-left: 0;
}

footer {
    background-color: #F7F8FA;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #414042;
}

.copyright-logos {
    padding: 45px 0;
}

.copyright-logos img {
    max-width: 100%;
}

footer .copyright {
    display: block;
    margin: 0 auto;
    width: 80%;
}

footer .footnote {
    font-size: 14px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.main-banner {
    background: #F6F7F9;
    text-align: center;
    padding: 20px 20px 15px;
    /* margin-bottom: 40px; */
}

.home h2 {
    font-size: 26px;
}

.goal p {
    max-width: 350px;
    display: block;
    margin: 10px auto;
}

.goal-image {
    height: 160px;
    width: 160px;
    white-space: nowrap;
    
    text-align: center; 
    margin: 1em auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.goal img {
    vertical-align: middle;
    max-height: 160px;
    max-width: 160px;
}

.goals {
    padding: 50px 0 80px;
}

.Events h1,
.Community h1 {
    text-align: center;
}

.Community h2 {
    font-weight: 600;
    color: #333;
}

.Community h1,
.Download h1 {
    margin-bottom: 80px;
}

.download-button {
    color: #ffffff;
    padding: 10px 20px;
    border: 0;
    font-size: 24px;
    width: 100%;
}

.download-button:hover {
    text-decoration: underline;
}

.downloadables {
    margin-bottom: 50px;
}

.downloadable {
    min-height: 335px;
    background: #F6F7F9;
    padding: 20px 10px 50px;
    color: #42567E;
}

.downloadable h3 {
    font-size: 22px;
    font-weight: 500;
}

.doc-section .outline-title {
    color: #F2853F;
    background: #F6F7F9;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 10px;
}

.doc-section {
    padding: 15px !important;
    min-height: 300px;
    margin-bottom: 20px;
}

.doc-section ul li {
    list-style-type: none;
}

.doc-section ul li a {
    color: #564243;
    text-decoration: underline;
}

.doc-section ul li a:hover {
    text-decoration: none;
}

.current-toc li {
    list-style-type: none;
    background: none;
    padding: 2px 0;
}

.sidebar-container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle .icon-bar {
    width: 40px;
    height: 6px;
    border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

b, 
strong {
    font-weight: bold;
}

.Community .bg-orange h2,
.Community .bg-orange,
.Community .bg-purple h2,
.Community .bg-purple {
    color: #fff !important;
}

.Community .bg-orange a,
.Community .bg-purple a {
    color: #fff;
    text-decoration: underline;
}

.Community .bg-orange a:hover,
.Community .bg-purple a:hover {
    text-decoration: none;
}

.padded {
    padding: 40px 0;
}

.list-info {
    font-size: 20px;
    padding: 5px 10px;
    background: #F6F7F9;
}

.mailing-list {
    margin-bottom: 40px;
}

.subscribe,
.mailing-list-title {
    padding: 2px 8px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.list-info p,
.list-info a {
    font-size: 20px;
}

.list-info a {
    text-decoration: underline;
}

.list-info a:hover {
    text-decoration: none;
}

a.bold-link {
    font-weight: 500;
    text-decoration: none;
    color: #454041;
}

a.bold-link:hover {
    text-decoration: underline;
}

/* Breadcrumbs */
.wy-breadcrumbs {
    padding: 0;
}

.wy-breadcrumbs li {
    display: inline-block
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
    float: right
}

.wy-breadcrumbs li a {
    display: inline-block;
    padding: 5 px
}

.wy-breadcrumbs li a: first-child {
    padding-left: 0
}

.wy-breadcrumbs-extra {
    margin-bottom: 0;
    color: #b3b3b3;
    font-size: 80%;
    display: inline-block;
}

@media screen and(max-width: 480 px) {

    .wy-breadcrumbs-extra {
        display: none
    }

    .wy-breadcrumbs li.wy-breadcrumbs-aside {
        display: none
    }

}

@media print {
    
    .wy-breadcrumbs li.wy-breadcrumbs-aside {
        display: none
    }

}

.show-sidebar {
    width: 100%;
    
    border: 0;
    box-shadow: 0px 2px 0px 0px #838487;
    
    background-color: #ACADAD;
    color: #fff;
}

.show-sidebar.active {
    box-shadow: 0px 2px 0px 0px #5B5B5D;
    background-color: #848484;
}

.event-callout {
    color: #fff;
}

.event-callout a {
    color: #fff;
    text-decoration: underline;
}

.event-callout a:hover {
    text-decoration: none;
}

.event-callout h3 {
    font-weight: 500;
    font-size: 34px;
    color: #fff;
    margin: 0;
}

.event-callout p {
    font-size: 20px;
    margin: 0;
}

.Events h2 {
    margin: 10px 0;
    font-weight: 600;
    
}

.event {
    margin: 40px 0;
}

.sidebar-container .nav>li>a:hover, 
.sidebar-container .nav>li>a:focus {
    background-color: #F2853F;
}

code {
    font-family: "Courier New";
}

li.toctree-l3 {
    padding-left: 20px;
}

li.active {
    background-color: #F2853F !important;
}
