*|body {
  border:  none;
  margin: 0;
  padding: 0;
  background: #ffffff none repeat scroll 0% 50%;
  width: 100%;
  min-width: 600px;
  font-size: 90%;
  font-family: FontAwesome;
}
*|a {
  color: #336699;
  font-family: FontAwesome;
}
*|a:hover {
  background: #336699 none repeat scroll 0% 50%;
  color: #ffffff;
  text-decoration: none;
  font-family: FontAwesome;
}
*|h1, *|h2, *|h3 {
  margin: 0.8em 0 0.2em;
  padding: 0;
  font-family: FontAwesome;
}
*|p {
  margin: 0.4em 0 0.8em;
  padding: 0;
  font-family: FontAwesome;
}
*|img {
  margin: 10px 0 5px;
  font-family: FontAwesome;
}
*|#ads *|img {
  display: block;
  padding-top: 10px;
}
*|#header {
  clear: both;
  float: left;
  width: 100%;
  font-family: FontAwesome;
}
*|#header {
  border-bottom: 1px solid #000000;
  font-family: FontAwesome;
}
*|#header *|p, *|#header *|h1, *|#header *|h2 {
  margin: 0;
  padding: 0.4em 15px 0;
  background-color: #268bd2;
  color: white;
}
*|#header *|ul {
  margin: 10px 0 0;
  padding: 0;
  float: left;
  list-style-type: none;
  list-style-position: outside;
  clear: left;
  width: 100%;
  list-style-image: none;
  font-family: fontawesome;
}
*|#header *|ul *|li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  font-family: FontAwesome;
}
*|#header *|ul *|li *|a {
  margin: 0 0 0 1px;
  padding: 3px 10px;
  background: #eeeeee none repeat scroll 0% 50%;
  display: block;
  float: left;
  text-align: center;
  color: #000000;
  text-decoration: none;
  position: relative;
  left: 15px;
  line-height: 1.3em;
  font-family: FontAwesome;
}
*|#header *|ul *|li *|a:hover {
  background: #336699 none repeat scroll 0% 50%;
  color: #ffffff;
  font-family: fontawesome;
}
*|#header *|ul *|li *|a.active, *|#header *|ul *|li *|a.active:hover {
  background: #000000 none repeat scroll 0% 50%;
  color: #ffffff;
  font-weight: bold;
  font-family: fontawesome;
}
*|#header *|ul *|li *|a *|span {
  display: block;
  font-family: fontawesome;
}
*|#layoutdims {
  border-top: 4px solid #000000;
  margin: 0;
  padding: 6px 15px ! important;
  background: #eeeeee none repeat scroll 0% 50%;
  clear: both;
  text-align: right;
  font-family: fontawesome;
}
*|.colmask {
  overflow: hidden;
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  font-family: fontawesome;
}
*|.colright, *|.colmid, *|.colleft {
  float: left;
  width: 100%;
  position: relative;
  font-family: fontawesome;
}
*|.col1, *|.col2, *|.col3 {
  padding: 0 0 1em;
  overflow: hidden;
  position: relative;
  float: left;
  font-family: fontawesome;
}
*|.leftmenu {
  background: #ffffff none repeat scroll 0% 50%;
  font-family: fontawesome;
}
*|.leftmenu *|.colleft {
  background: #268bd2 none repeat scroll 0% 50%;
  right: 75%;
  color: black;
  font-family: fontawesome;
}
*|.leftmenu *|.col1 {
  width: 71%;
  left: 102%;
  font-family: fontawesome;
}
*|.leftmenu *|.col2 {
  width: 21%;
  left: 6%;
  font-family: fontawesome;
}
*|#footer {
  border-top: 1px solid #000000;
  clear: both;
  float: left;
  width: 100%;
  font-family: FontAwesome;
}
*|#footer *|p {
  margin: 0;
  padding: 10px;
  font-family: fontawesome;
}
