.v2-main-banner {
    background-color: #F6F7F9;
}

.v2-main-banner .logo {
    height: 150px;
}

.v2-main-banner .tagline {
    margin-left: 20px;
    margin-bottom: 40px;  /* align with logo text */
    display: inline-block;
    vertical-align: bottom;
}

.v2-main-banner .news {
    padding: 10px;
    border-radius: 5px;
}

.v2-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.v2-landing .tagline {
    margin-top: 10px;
    margin-bottom: 40px;
}

.v2-landing .highlights {
    padding-right: 100px;
}

.v2-landing .highlights .highlight {
    margin-bottom: 40px;
}

.v2-landing .highlights img {
    width: 100%;
}

.v2-landing .highlights .scroll-image {
    overflow-y: scroll;
    height: 200px;
}

.v2-landing .updates img {
    width: 100%;
}

.v2-sidebar > div {
    background-color: #F6F7F9;
    padding-left: 15px;
    padding-bottom: 15px;
}

.v2-sidebar .form-group {
    margin-right: 15px;
}

.v2-sidebar ul.toc-nav {
    list-style: none;
    padding-left: 0;
}

.v2-sidebar .toc-nav ul {
    list-style: none;
    padding-left: 20px;
}

.v2-sidebar .toc-nav a {
    display: block;
    padding: 2px;
}

.v2-sidebar .toc-nav .active > a {
    background-color: #eee;
    border-right: 1px solid black;
}
