{% include 'main-banner.html' %}

<div class="bg-orange padded event-callout content">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Latest News: First beta release of Apache Mynewt is available now. </h3>
                        <p>For more news about Apache Mynewt see below.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container small-no-padding">
    <div class="row">
        <div class="col-md-12 content">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</div>

<div class="bg-orange padded event-callout content">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Can't wait to get started?</h3>
                        <a target="_blank" href="/os/get_started/get_started/">
                                <button class="download-button bg-orange">Here's Quick Start with Project Blinky! <i class="fa fa-arrow-circle-o-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-left">Project Git Repository</h1>
        </div>
    </div>
    <div class="row downloadables">
        <div class="col-md-4">
            <div class="downloadable text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Mynewt OS repo (core)</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Contains source code for Mynewt OS and middleware. Active code development occurs in the "develop" branch.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a target="_blank" href="https://github.com/apache/incubator-mynewt-core">
                                <button class="download-button bg-orange">view git repository <i class="fa fa-arrow-circle-o-right"></i></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        
        
        <div class="col-md-4">
            <div class="downloadable text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Newt/Newt Mgr repo (newt)</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Contains source code for Newt and Newt Mgr tools for build management and device management respectively.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a target="_blank"  href="https://github.com/apache/incubator-mynewt-newt">
                                <button class="download-button bg-orange">view git repository <i class="fa fa-arrow-circle-o-right"></i></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          </div>

        <div class="col-md-4">
            <div class="downloadable text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Documentation Repository</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Contains Markdown docs describing Mynewt OS and Newt Tool under "docs". Also has html pages for this website.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a target="_blank" href="https://github.com/apache/incubator-mynewt-site">
                                <button class="download-button bg-orange">view git repository <i class="fa fa-arrow-circle-o-right"></i></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>   
    </div>
</div>

