{% include 'main-banner.html' %}

<div class="container"> 
  <div class="row">
     <div class="column col-md-12">
        
<div class="bg-orange padded event-callout content">
   <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Pre-GA release version of Mynewt 0.8.0 with BLE 4.2 support is available now. </h3>
                        <p> <a href="http://mynewt.apache.org/download/"> Download! </a> </p>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>

<div class="container small-no-padding">
    <div class="row">
        <div class="col-md-8 content">
        <h1> Features </h1>
        <li>
        Real-time operating system kernel (Mynewt OS)
        </li>
        <li>
        Command line package management and build system (Newt Tool)
        </li>
        <li>
        Hardware Abstraction Layer unifying common MCU features
        </li>
        <li>
        Board Support Infrastructure
        </li>
        <li>
        System level logs and statistics 
        </li>
        <li>
        Signed images and remote firmware upgrade
        </li>
        <li>
        Bluetooth Low Energy stack (BLE 4.2)
        </li> 
        <br>  
        <p> For features in each release, see <a href="https://cwiki.apache.org/confluence/display/MYNEWT/Apache+Mynewt+Project"> Release Notes </a> 
        </p>   
        </div>
        <div class="col-md-4">
        <h1> Git Repos </h1>
        <li>
        <a href="https://github.com/apache/incubator-mynewt-core"> Git repo for Mynewt OS </a>
        </li>
        <li>
        <a href="https://github.com/apache/incubator-mynewt-newt"> Git repo for Newt Tool </a>
        </li>
        <li>
        <a href="https://github.com/apache/incubator-mynewt-site"> Git repo for Docs </a>
        </li>
        <h1> Quick Start <h1>
        <a href="/os/get_started/get_started/"> Setup for Project Blinky! </a>
        </div>
    </div>
</div>

<div class="container small-no-padding">
    <div class="row">
        <div class="col-md-12 content">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</div>

        
        
