{% include 'main-banner.html' %}


<div class="bg-orange padded event-callout content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3> Welcome to the community!</h3>
                <br>
                <p>We are happy to see you here and appreciate your time and effort. Your contributions are welcome, as we depend on the community's collaboration to make this a viable OS for constrained and embedded enviroments. If you want to learn how to contribute code, please click <a href="#Contributing Code">here</a>.</p>
            </div>
        </div>
    </div>
</div>


<div class="container small-no-padding">
    <div class="row content">
        <div class="col-md-12">
            {% block content %} {{ content }} {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mailing-list">
            <div class="bg-purple mailing-list-title text-center">
                Dev Mailing List
            </div>
            <div class="list-info">
                <p><a class="bold-link" href="mailto:dev@mynewt.incubator.apache.org">dev@mynewt.incubator.apache.org</a></p>
                <p>For both contributors and users. Ask questions about Mynewt. Share ideas. Discuss issues, roadmap, process. Help coordinate. Influence.</p>
                <div class="mailing-list-title text-center">
                    <p><a href="mailto:dev-subscribe@mynewt.incubator.apache.org">Subscribe</a></p>
                    <p text-center><a href="mailto:dev-unsubscribe@mynewt.incubator.apache.org">Unsubscribe</a></p>
                  <p> <a href="http://mail-archives.apache.org/mod_mbox/incubator-mynewt-dev/">Mail archives</a> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mailing-list">
            <div class="bg-purple mailing-list-title text-center">
                Commits Mailing List
            </div>
            <div class="list-info">
                <p><a class="bold-link" href="mailto:commits@mynewt.incubator.apache.org">commits@mynewt.incubator.apache.org</a></p>
                <p>For contributors to code or documentation. Receive automated notifications of any changes to Mynewt code and documentation.</p>
                <div class="mailing-list-title text-center">
                  <p><a href="mailto:commits-subscribe@mynewt.incubator.apache.org">Subscribe</a></p>
                  <p><a href="mailto:commits-unsubscribe@mynewt.incubator.apache.org">Unsubscribe</a></p>
                  <p> <a href="http://mail-archives.apache.org/mod_mbox/incubator-mynewt-commits/">Mail archives</a> </p>
               </div>
            </div>
        </div>
        <div class="col-md-4 mailing-list">
            <div class="bg-purple mailing-list-title text-center">
                Notifications Mailing List
            </div>
            <div class="list-info">
                <p><a class="bold-link" href="mailto:notifications@mynewt.incubator.apache.org">notifications@mynewt.incubator.apache.org</a></p>
                <p>For all autogenerated mail other than commits e.g. JIRA issue-tracker notifications. Can also be used for announcements. </p>
                <div class="mailing-list-title text-center">
                   <p><a href="mailto:notifications-subscribe@mynewt.incubator.apache.org">Subscribe</a></p>
                   <p><a href="mailto:notifications-unsubscribe@mynewt.incubator.apache.org">Unsubscribe</a></p>
                   <p> <a href="http://mail-archives.apache.org/mod_mbox/incubator-mynewt-notifications/">Mail archives</a> </p>
                </div>
            </div>
        </div>
</div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Bug Submission and Issue Tracking</h2>
                <p>Issues, features, improvements, and wish-lists are tracked using the Atlassian JIRA software on Apache Software Foundation: 
                <li>
                <a href="https://issues.apache.org/jira/browse/Mynewt/">ASF JIRA</a> </p>
                </li>
                <p>
                Sign up for an account on JIRA and submit a request to the @dev mailing list for your JIRA username to be added to the Apache Mynewt (MYNEWT) project. You can view the issues on JIRA for the MYNEWT project without an account but you need to log in for reporting a bug, getting a task assigned to you, or updating a ticket. Once you have a JIRA account, log in and report a bug by choosing the "MYNEWT" project, clicking on the "Create" button, and creating a ticket with an appropriate Issue Type (e.g. Bug, Wish).  
            </div>
        </div>
    </div>

</div>


<a name="Contributing Code"></a> 

<br> 
                
<div class="bg-purple padded">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contributing Code</h2>
                <p>                
                You can start contributing right away, even if you are not a committer on Apache Mynewt! One requirement is that you adhere to the Apache's proposed workflow as explained <a href="https://git-wip-us.apache.org/docs/workflow.html">here</a>. Basically, you submit your initial edits for your peers to review and merge. After a few successful patches under your belt, you will get access to commit code directly to the module you are working on in the repository. And over time, you will get full access to all the repositories, where you can commit code to any module. </p>
                <p>You may choose to submit patches in one of the two following ways: </p>
                <br>
                <ol>
                <li>
                Fork the mirrored repository to create your very own repo on github. Clone the forked repository into a local branch on your machine and make your changes. Then submit a pull request from the fork on the github mirror of the appropriate Apache Mynewt repository by clicking the green "New pull request" button on the page:
                   <ul>
                   <br>
                   <li><a href="https://github.com/apache/incubator-mynewt-larva">Apache Mynewt larva repo mirrored on github</a></li>
                   <br>
                   <li><a href="https://github.com/apache/incubator-mynewt-newt">Apache Mynewt newt tool repo mirrored on github</a></li>
                   <br>
                   <li><a href="https://github.com/apache/incubator-mynewt-site">Apache Mynewt documentation repo mirrored on github</a></li>
                   <br>
                   </ul>
                <p>In the comment for the pull request, include a description of the changes you have made and why. Github will automatically notify everyone on the commits@mynewt.incubator.apache.org mailing list about the newly opened pull requests. You can open a pull request even if you don't think the code is ready for merging but want some discussion on the matter. </p>
                <p> Upon receiving notification, one or more committers will review your work, ask for edits or clarifications, and merge when your proposed changes are ready.</p>
                <br>      
                <li>
                Use the `git format-patch` command to produce a patch file. Submit the patch (your code changes along with a diff from the old code) via email to the @dev mailing list. Summarize the issue and your work in the email. Regular project members will review your suggested patch and add it to the repository, acknowledging your contribution by referencing your name in the commit message. 
                </li>
                <br> 
               
            </div>
        </div>
    </div>
</div>


<div class="padded">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contributing to the web site</h2>
                <p>A build script, using MkDocs utility for Markdown and HTML pages, statically generates all content on this site and stores it on the master branch in the documentation repository once a day.
                This content is maintained in the `asf-site` branch in the documentation repository. For now the build script generates all the static content once a day, but we will automate it in the future.</p>
                <br>
                <p>If you want to edit any documentation, follow <i>Docs->Apache Mynewt Manual->Tutorials->Edit Docs </i>path from the top-level navigational menu. Then try a sample file `try_markdown.md` on Mynewt's documentation git repository.
                </p>
                <br> 
                <p>Also, you may preview the changes you have made on your desktop by installing MkDocs and starting up its builtin webserver as described in MkDocs. This step is optional, even though it's described in the tutorial.
                </p>
                <br>
                <p>One thing to note that if you are not a committer on Apache Mynewt, you cannot push changes to the site repository directly.  You will have to work with the mirror on github.com. Go to <a href="https://github.com/apache/incubator-mynewt-site">Apache Mynewt documentation repo mirrored on github</a> to clone the repository into a local branch on your machine. Make your changes. Then submit a pull request on the github mirror repository by clicking the green "New pull request" button on the page.
                </p>
                <br>
                <p>If you are not a committer on Apache Mynewt, you cannot push changes to the site repository directly.  You will have to work with the mirror on github.com. Go to <a href="https://github.com/apache/incubator-mynewt-site">Apache Mynewt documentation repo mirrored on github</a> to clone the repository into a local branch on your machine. Make your changes. Then submit a pull request on the github mirror repository by clicking the green "New pull request" button on the page.
                </p>
            </div>
        </div>
    </div>
</div>
