{% include 'main-banner.html' %}


<div class="bg-orange padded">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the community!</h1>
                <p>We are happy to see you here. Thank you for your time and effort. Click <a href="#Contributing Code">here</a> if you want to know how to contribute. </p>
            </div>
        </div>
    </div>
</div>


<div class="container small-no-padding">
    <div class="row content">
        <div class="col-md-12">
            {% block content %} {{ content }} {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mailing-list">
            <div class="bg-purple mailing-list-title">
                Dev Mailing List
            </div>
            <div class="list-info">
                <p><a class="bold-link" href="mailto:dev@mynewt.incubator.apache.org">dev@mynewt.incubator.apache.org</a></p>
                <p>For both contributors and users.</p>
            </div>
            <div class="bg-grey subscribe">
                Subscribe
            </div>
            <div class="list-info">
                <p><a href="mailto:dev-subscribe@mynewt.incubator.apache.org">dev-subscribe@mynewt.incubator.apache.org</a></p>
            </div>
            <div class="bg-grey subscribe">
                Unsubscribe
            </div>
            <div class="list-info">
                <p><a href="mailto:dev-unsubscribe@mynewt.incubator.apache.org">dev-unsubscribe@mynewt.incubator.apache.org</a></p>
            </div>
        </div>
        <div class="col-md-6 mailing-list">
            <div class="bg-purple mailing-list-title">
                Commits Mailing List
            </div>
            <div class="list-info">
                <p><a class="bold-link" href="mailto:commits@mynewt.incubator.apache.org">commits@mynewt.incubator.apache.org</a></p>
                <p>Mainly for contributors to code or documentation.</p>
            </div>
            <div class="bg-grey subscribe">
                Subscribe
            </div>
            <div class="list-info">
                <p><a href="mailto:commits-subscribe@mynewt.incubator.apache.org">commits-subscribe@mynewt.incubator.apache.org</a></p>
            </div>
            <div class="bg-grey subscribe">
                Unsubscribe
            </div>
            <div class="list-info">
                <p><a href="mailto:commits-unsubscribe@mynewt.incubator.apache.org">commits-unsubscribe@mynewt.incubator.apache.org</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mailing-list">
            <div class="bg-purple mailing-list-title">
                Notifications Mailing List
            </div>
            <div class="list-info">
                <p><a class="bold-link" href="mailto:notifications@mynewt.incubator.apache.org">notifications@mynewt.incubator.apache.org</a></p>
                <p>For all autogenerated mail except commits e.g. JIRA notifications.</p>
            </div>
            <div class="bg-grey subscribe">
                Subscribe
            </div>
            <div class="list-info">
                <p><a href="mailto:notifications-subscribe@mynewt.incubator.apache.org">notifications-subscribe@mynewt.incubator.apache.org</a></p>
            </div>
            <div class="bg-grey subscribe">
                Unsubscribe
            </div>
            <div class="list-info">
                <p><a href="mailto:notifications-unsubscribe@mynewt.incubator.apache.org">notifications-unsubscribe@mynewt.incubator.apache.org</a></p>
            </div>
        </div>
            </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Mail Archives</h2>
                <p>The archives of the emails exchanged on the mailing lists can be found here: 
                <li>
                <a href="http://mail-archives.apache.org/mod_mbox/incubator-mynewt-dev/">For dev@mynewt.incubator.apache.org</a> </p>
                </li>
                <li>
                <a href="http://mail-archives.apache.org/mod_mbox/incubator-mynewt-commits/">For commits@mynewt.incubator.apache.org</a> </p>
                </li>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Issue Tracking</h2>
                <p>Issues, features, improvements, and wish-lists are tracked using the Atlassian JIRA software on Apache Software Foundation: 
               
                <li>
                <a href="https://issues.apache.org/jira/browse/Mynewt/">ASF JIRA</a> </p>
                </li>
            </div>
        </div>
    </div>

</div>


<a name="Contributing Code"></a> 

<br> 
                
<div class="bg-purple padded">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contributing Code</h2>
                <p>                
                You get started by submitting patches for your peers to review and merge. After a few patches under your belt you will get access to commit code directly to the module you are working on in the repository. Over time you will get full access to all the repositories and can commit code to any module. </p>
                <p>You may choose to submit patches in one of the two following ways: </p>
                <br>
                <ol>
                <li>
                Clone the repository into a local branch on your machine and make your changes. Then Submit a pull request on the github mirror of the appropriate Apache Mynewt repository by clicking the green "New pull request" button on the page:
                   <ul>
                   <br>
                   <li><a href="https://github.com/apache/incubator-mynewt-larva">Apache Mynewt larva repo mirrored on github</a></li>
                   <br>
                   <li><a href="https://github.com/apache/incubator-mynewt-newt">Apache Mynewt newt tool repo mirrored on github</a></li>
                   <br>
                   <li><a href="https://github.com/apache/incubator-mynewt-site">Apache Mynewt documentation repo mirrored on github</a></li>
                   <br>
                   </ul>
                <p>In the comment for the pull request, include a description of the changes you have made and why. Github will automatically notify everyone on the commits@mynewt.incubator.apache.org mailing list about the newly opened pull request. You can open a pull request even if you don't think the code is ready for merge but want some discussion on the matter. </p>
                <p> One or more committers will review your work, ask for edits or clarifications, and merge when it is ready.     </p>
                <br>      
                <li>
                Submit your new code snippet along with a diff from the old code via email to the @dev mailing list. Regular project members will review your suggested patch and add it to the repository, acknowledging your contribution by referencing your name in the commit message. 
                </li>
                <br> 
               
            </div>
        </div>
    </div>
</div>



<div class="padded">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contributing to the web site</h2>
                <p>All content on this site is statically generated using MkDocs from documents written in Markdown and HTML and stored on the master branch in the documentation repository. </p>
                <br>
                <p>Click on the tutorial "How to edit docs" under "Get Started", the first chapter in Docs, to learn how to edit a sample file try_markdown.md on Mynewt's documentation git repository. The static html content for this website is generated and maintained in the `asf-site` branch in the documentation repository. Currently, the static html files are generated manually once a day. This will be automated in the future.
                </p>
                <br> 
                <p>If you wish, you may preview the changes you have made on your desktop by installing MkDocs and starting up its builtin webserver as described in MkDocs. This step is optional but described in the tutorial.
                </p>
            </div>
        </div>
    </div>
</div>
