{% include 'main-banner.html' %}
<div class="container small-no-padding">
    <div class="row">
        <div class="col-md-12 content">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
    <div class="row content">
        <div class="column col-sm-12 col-md-offset-3 col-md-6 search-container text-center">
            <form id ="rtd-search-form" class="wy-form" action="{{ base_url }}/search.html" method="get">
                <div class="form-group">
                    <input id="search-input" type="text" name="q" placeholder="Search documentation" />
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>   
    <div class="row">
        {% for nav_item in nav %}
            {% if 'Manual' in nav_item.title %}
                <div class="col-md-6 doc-section">
                    <div class="outline-title">{{ nav_item.title }}</div>
                    <p>{{ config.extra.chapters[nav_item.title] }}</p>
                    {% if nav_item.children %}
                        <ul>
                            {% for nav_item in nav_item.children %}
                                {% set child=nav_item %}
                                <li class="{% if nav_item.active%}current{%endif%}">
                                    <a href="{% include "child_url.html" %}">{{ nav_item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
