{% include 'main-banner.html' %}

<div class="bg-orange padded event-callout content">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                      <h2 class="text-center"> You can download the latest beta release from the following link. </h2>
                       <a target="_blank"  href="http://www.apache.org/dyn/closer.lua/incubator/mynewt/apache-mynewt-0.8.0-incubating">
                       <button style="font-size:180%" class="download-button bg-orange"> Mynewt 0.8.0 <i class="fa fa-arrow-circle-o-right"></i></button>
                       </a>
                       <h2 class="text-center"> This release introduces BLE pairing support and adds significantly to the HAL. </h2>
                       <p class="text-center"> Important Note: The first beta is no longer supported. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="col-md-6">
            <div class="downloadable text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Release Notes</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p> <a href="https://cwiki.apache.org/confluence/display/MYNEWT/RN-0.8.0-incubating">RN for 0.8.0</a> </p>
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="col-md-6">
            <div class="downloadable text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Release Archives</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p> <a href="http://www.apache.org/dyn/closer.lua/incubator/mynewt/apache-mynewt-0.8.0-incubating">0.8.0-b2</a>, <a href="https://cwiki.apache.org/confluence/display/MYNEWT/RN-0.8.0-b2-incubating"> RN for 0.8.0-b2</a> </p>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>

</div>
