{% include 'main-banner.html' %}

<div class="bg-orange padded event-callout content">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                      <h2 class="text-center"> You can download the first beta release from the following link. </h2>
                       <a target="_blank"  href="http://www.apache.org/dyn/closer.lua/incubator/mynewt/apache-mynewt-0.8.0-b1-incubating">
                       <button style="font-size:180%" class="download-button bg-orange"> Mynewt 0.8.0-b1 <i class="fa fa-arrow-circle-o-right"></i></button>
                       </a>
                       <h2 style="color:#42567E;font-size:120%;font-weight:bold" class="text-center">The next release of Mynewt is coming soon! It is anticipated to be available the week of March 21st. The release point is marked with the tag `mynewt_0_8_0_b2_tag` </h2>
                       <p class="text-center"> If you are interested in trying out Mynewt for a project we recommend waiting until this upcoming release. It makes package management and build for testing simpler and more intuitive. </p>
                       <p class="text-center"> Important Note: Support for the first beta release will be suspended upon the release of the second beta.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="col-md-6">
            <div class="downloadable text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Release Notes</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Starting with the second release, links to the Release Notes will be published here.</p>
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="col-md-6">
            <div class="downloadable text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Release Archives</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Links to older releases will be listed here when the newest release becomes available.</p>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>

</div>
