{% include 'main-banner.html' %}
<div class="bg-orange padded event-callout content">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>{{ config.extra.events['event 1'].title }}</h3>
                        <p>{{ config.extra.events['event 1'].location }}</p>
                        <p>{{ config.extra.events['event 1'].date }}</p>
                        <a href="{{ site_url }}/events/">Click here for more details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
        		    {% block content %}
                        {{ content }}
                    {% endblock %}
                </div>
            </div>
            <div class="goals">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>The world of Mynewt, therefore, has four primary collaborative goals:</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="column col-md-6 goal text-center">
                        <div class="goal-image">
                            <span class="helper"></span>
                            <img src="{{ site_url }}/img/folder.png">
                        </div>
                        <p>Produce a foundational RTOS and embedded middleware utilities such as boot loaders, file systems, and time-series data support</p>
                    </div>
                    <div class="column col-md-6 goal text-center">
                        <div class="goal-image">
                            <span class="helper"></span>
                            <img src="{{ site_url }}/img/watch.png">
                        </div>
                        <p>Build solid networking stack support for secure, efficient communications with constrained devices</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column col-md-6 goal text-center">
                        <div class="goal-image">
                            <span class="helper"></span>
                            <img src="{{ site_url }}/img/01.png">
                        </div>
                        <p>Provide simple image and configuration management and deep instrumentation for ongoing diagnostics, whether at the workbench or after mass deployment</p>
                    </div>
                    <div class="column col-md-6 goal text-center">
                        <div class="goal-image">
                            <span class="helper"></span>
                            <img src="{{ site_url }}/img/performance.png">
                        </div>
                        <p>Ensure modularity and easy composability to build an optimized image aligned with the developer’s application requirements and hardware selection</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bg-orange">
    <div class="column col-md-12">
        <div class="container">
            <div class="row">
                <div class="column col-sm-12 col-md-offset-3 col-md-6 search-container text-center">
                    <form id ="rtd-search-form" class="wy-form" action="{{ base_url }}/search.html" method="get">
                        <div class="form-group">
                            <label for="search-input">Search Documentation</label>
                            <input id="search-input" type="text" name="q" placeholder="Search documentation" />
                            <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
