<div class="hidden-print" role="complementary">
    <div class="top">
        <img class="hidden-xs hidden-sm logo-small" src="/img/logo.svg" alt="MyNewt" title="MyNewt">
        <div role="search">
            <form id="rtd-search-form" class="wy-form" action="{{ base_url }}/search.html" method="get">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Search documentation" />
                </div>
            </form>
        </div>
    </div>
    <ul class="toc-nav">
      {% for nav_item in nav %}
        {% if 'Documentation' in nav_item.title or 'Appendix' in nav_item.title %}
          {% include 'nested_toc.html' %}
        {% endif %}
      {% endfor %}
    </ul>
</div>
