<div class="bs-sidebar hidden-print" role="complementary">
    <div class="sidebar-top">
        <img class="hidden-xs hidden-sm logo-small" src="/img/logo.svg" alt="MyNewt" title="MyNewt">
        <div class="small" role="search">
            <form id ="rtd-search-form" class="wy-form" action="{{ base_url }}/search.html" method="get">
                <div class="form-group">
                    <input type="text" name="q" placeholder="Search documentation" />
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <ul class="nav bs-sidenav">
      {% for nav_item in nav %}
        {% if 'Manual' in nav_item.title or 'Guide' in nav_item.title or 'Releases' in nav_item.title %}
          {% include 'nested_toc.html' %}
        {% endif %}
      {% endfor %}
    </ul>
</div>
