/*
 * Fix wrapping in the code highlighting
 *
 * https://github.com/mkdocs/mkdocs/issues/233
 */
code {
    white-space: pre;
}

/*
 * Wrap inline code samples otherwise they shoot off the side and
 * can't be read at all.
 *
 * https://github.com/mkdocs/mkdocs/issues/313
 */
p code {
    word-wrap: break-word;
}
