backports-abc==0.5
certifi==2017.4.17
click==6.7
gitdb2==2.0.2
GitPython==2.1.5
Jinja2==2.9.6
livereload==2.5.1
Markdown==2.6.8
MarkupSafe==1.0
mkdocs==0.16.3
Pygments==2.2.0
PyYAML==3.12
sh==1.12.14
singledispatch==3.4.0.3
six==1.10.0
smmap2==2.0.3
tornado==4.5.1
