body {
    padding-top: 70px;
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before {
    content: "";
    display: block;
    margin-top: -75px;
    height: 75px;
}

ul.nav li.main {
    font-weight: bold;
}

div.source-links {
    float: right;
}
