.v2-main-banner {
    background-color: #F6F7F9;
}

.v2-main-banner .logo {
    height: 150px;
}

.v2-main-banner .tagline {
    margin-left: 20px;
    margin-bottom: 40px;  /* align with logo text */
    display: inline-block;
    vertical-align: bottom;
}

.v2-main-banner .news {
    margin-left: 40px;
    padding: 10px;
    border-radius: 5px;
}

.v2-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.v2-landing .tagline {
    padding: 15px 50px 0px 50px;
    font-size: 18px;
}

.v2-landing .tagline .product {
    font-weight: bolder;
}

.v2-landing .highlights .highlight {
    margin-bottom: 15px;
}

.v2-landing .highlights .highlight div p:first-of-type {
    font-size: 18px;
}

.v2-landing .highlights .highlight div p:nth-of-type(n+2) {
    text-align: justify;
}

.v2-landing .highlights img, .v2-landing .highlights .img {
    display: none;
    float:right;
    margin: 40px 0px 25px 50px;
    width: 300px;
}

@media (min-width: 768px) {
    .v2-landing .highlights img {
        display: inherit;
    }
    .v2-landing .highlights .img {
        display: inherit;
    }
}

/* Separate left hand side news and updates from right hand side content */
@media (min-width: 768px) {
    .v2-main-banner .news, .v2-landing .updates, .rhs {
        margin-left: 40px;
    }
     {
        margin-left: 40px;
    }
}

.v2-landing .updates img {
    width: 100%;
}

.v2-landing .updates ul {
    list-style: none;
    padding-left: 0;
}

.v2-sidebar > div {
    background-color: #F6F7F9;
    padding-left: 15px;
    padding-bottom: 15px;
}

@media (max-width: 992px) {
    .v2-sidebar > div {
        padding-top: 15px;
    }
}

.v2-sidebar .form-group {
    margin-right: 15px;
}

.v2-sidebar ul.toc-nav {
    list-style: none;
    padding-left: 0;
}

.v2-sidebar .toc-nav ul {
    list-style: none;
    padding-left: 20px;
}

.v2-sidebar .toc-nav a {
    display: block;
    padding: 2px;
}

.v2-sidebar .toc-nav .active > a {
    background-color: #eee;
    border-right: 1px solid black;
}

.v2-sidebar .toc-nav .doc-version {
    padding-right: 15px;
    padding-bottom: 10px;
}
