.v2-main-banner {
    background-color: #F6F7F9;
}

.v2-main-banner .logo {
    height: 150px;
}

.v2-main-banner .tagline {
    margin-left: 20px;
    margin-bottom: 40px;  /* align with logo text */
    display: inline-block;
    vertical-align: bottom;
}

.v2-main-banner .news {
    padding: 10px;
    border-radius: 5px;
}

.v2-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.v2-landing .tagline {
    padding: 50px;
    font-size: 18px;
}

.v2-landing .tagline .product {
    font-weight: bolder;
}

.v2-landing .highlights .highlight {
    margin-bottom: 40px;
}

.v2-landing .highlights .highlight p {
    font-size: 18px;
}

.v2-landing .highlights img {
    margin-top: 40px;
    width: 100%;
}

.v2-landing .highlights .truncate-image {
    overflow-y: hidden;
    height: 300px;
}

.v2-landing .updates img {
    width: 100%;
}

.v2-landing .updates ul {
    list-style: none;
    padding-left: 0;
}

.v2-sidebar > div {
    background-color: #F6F7F9;
    padding-left: 15px;
    padding-bottom: 15px;
}

@media (max-width: 992px) {
    .v2-sidebar > div {
        padding-top: 15px;
    }
}

.v2-sidebar .form-group {
    margin-right: 15px;
}

.v2-sidebar ul.toc-nav {
    list-style: none;
    padding-left: 0;
}

.v2-sidebar .toc-nav ul {
    list-style: none;
    padding-left: 20px;
}

.v2-sidebar .toc-nav a {
    display: block;
    padding: 2px;
}

.v2-sidebar .toc-nav .active > a {
    background-color: #eee;
    border-right: 1px solid black;
}

.v2-sidebar .toc-nav .doc-version {
    padding-right: 15px;
    padding-bottom: 10px;
}
